/* WhyChooseChina 组件样式 */

.bulletPoint {
    margin-right: 1rem;
    color: #ff6b35;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: flex-start;
    line-height: 100%;
}

.text {
    font-family: "AlibabaPuHuiTiRegular";
  /* cursor: pointer; */
    color: #2e4057;
    /* &:hover {
        color: #ff6b35;
    } */
}

/* 视频容器相关样式 */
.videoContainer {
    width: 33.33vw;
    height: 18.85vw;
    max-width: 100%;
    min-width: 300px;
    min-height: 169px;
}

/* 右侧文案容器样式 */
.textContainer {
    height: 18.85vw;
    min-height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}
